.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    

}

.circle{
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    margin: 10px;
    margin-top: 300px;
    padding: 30px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 36px;

}

.active{
    background-color: #128EAA;
    color: white;
    margin-top: 300px;

}

.divider {
  flex-grow: 1  ;
  border-bottom: 2px solid black;
  margin: 5px;
  margin-top: 300px;


}

.divideractive {
    flex-grow: 1  ;
    border-bottom: 7px solid #128EAA;
    border-radius: 15px;
    margin: 5px;
    transition: 150ms ease;
    margin-top: 300px;

  } 

button{
    align-items: center;
    justify-content: center;
    background-color: #128EAA;
    padding:20px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
    border-radius: 10px;
    border-width: 0px;
    color: white;
}

.button-container{
    align-items: center;
    justify-content: center;
    display: flex;
}

button:focus{
    outline: 0;    
}

.disable-button{
    background-color: gray;
}